{% extends "base.html" %}
{% block content %}

  <h2><u>Change Password</u></h2>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <h6>- {{ message }} -</h6>
    {% endfor %}
  {% endif %}
{% endwith %}
<form>
  <p>Enter Current Password:<input type="password" name="password" required/></p>
  <p>- ~ - ~ - ~ - ~ - ~ -</p>
  <p>Enter New Password:<input type="password" name="password" required/></p>
  <p>Re-Enter New Password:<input type="password" name="password" required/></p>
  <button class="button" type="submit">Change Password</button><br><br>
  <button class="button" onclick="window.location.href='/my_account'">Return to My Account</button><br><br>
  <button class="button button2" onclick="window.location.href='/'">Return to Main Menu</button>
</form>
{% endblock %}