{% extends "base.html" %}
{% block content %}

  <h2><u>Delete Saved Entries List</u></h2>
  <h5>Saved lists:</h5>
  {% for name in lists %}
  <p>- {{ name }} -</p>
  {% endfor %}
  <br>
  <form method="POST" action="/delete_saved_entries_list">
    <label for="list_to_delete">enter name of list to delete:</label>
        <input type="text" name="list_to_delete" id="list_to_delete" required><br><br><br>
        <button class="button" type="submit">Delete List</button><br><br>
  </form>
  <button class="button" onclick="window.location.href='/my_account'">Return to My Account</button><br><br>
  <button class="button button2" onclick="window.location.href='/'">Return to Main Menu</button>

{% endblock %}