{% extends "base.html" %}
{% block content %}
{% if entries|length != 0 %}
<h2><u>Delete Entry</u></h2>
<form method="POST" action="/delete_entry">
  <label for="entry_to_delete">Entry to delete:</label>
  <input
    type="text"
    name="entry_to_delete"
    id="entry_to_delete"
    required
  /><br><br><br>
  <button class="button" type="submit">Delete Entry</button><br><br>
  <button class="button onclick="window.location.href='/'">Return to Main Menu</button>
</form>
<br />
<h4>Current entries:</h4>
  {% for entry in entries %}
  <p>- {{ entry }} -</p>
  {% endfor %}
{% else %}
<h2><u>Delete Entry</u></h2><br><br>
<h4>No entries to delete!</h4>
<button class="button" onclick="window.location.href='/'">Return to Main Menu</button>
{% endif %}
{% endblock %}