{% extends "base.html" %}
{% block content %}

  <h2><u>Load Entries List</u></h2>
  <h5><u>{{ list_name }} entries:</u></h5>
  {% for entry in list %}
  <p>- {{ entry }} -</p>
  {% endfor %}
  <p>- - - <u>{{ loaded_calories }}</u> kcal total - - -</p><br>
  <h4>is this the list you want to load?</h4><br><br>
    <button class="button" onclick="window.location.href='/load_entries_list_confirm?list_name={{ list_name }}&list={{ list }}&loaded_calories={{ loaded_calories }}'">Confirm Load list</button><br><br>
    <button class="button" onclick="window.location.href='/my_account'">Return to My Account</button><br><br>
    <button class="button button2" onclick="window.location.href='/'">Return to Main Menu</button>

{% endblock %}