{% extends "base.html" %}
{% block title %}Login Page{% endblock %}
{% block content %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
            {% for message in messages %}
              <h6>- {{ message }} -</h6>
            {% endfor %}
    {% endif %}
{% endwith %}

<h2><u>Login</u></h2>
<form method="POST "action="/login">
    <p>Username:<input type="text" name="username" /></p>
    <button class="button" type="submit">Login</button><br><br>
  </form>
    <button class="button" onclick="window.location.href='/register'">Register</button><br><br>
    <button class="button button2" onclick="window.location.href='/'">Return to Main Menu</button>
{% endblock %}