{% extends "base.html" %}
{% block title %}Log Out Page{% endblock %}
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<h6>- {{ message }} -</h6>
{% endfor %}
{% endif %}
{% endwith %}

<br>
{% block content %}
<form method="POST" action="/logout">
    <h2><u>Log Out</u></h2>
    <p>Username:<input type="text" name="username" /></p>
    <button class="button" type="submit">Log Out</button><br><br>
</form>
<button class="button button2" onclick="window.location.href='/'">Return to Main Menu</button>
{% endblock %}