<form method="POST" action="/enter_calories">
    <label for="ingredient_name">Food Item Name:</label>
    <input type="text" name="ingredient_name" id="ingredient_name" required><br>
    
    <label for="weight_grams">Weight in Grams (g):</label>
    <input type="number" name="weight_grams" id="weight_grams" required><br>

    <label for="caloires_100g">kcal (calories) per 100g:</label>
    <input type="number" name="caloires_100g" id="caloires_100g" required><br>
    
    <input type="submit" value="Search Entry">
    <button onclick="window.location.href='/'">Return to Main Menu</button>
</form>