{% extends "base.html" %}
{% block content %}
<h2><u>Register</u></h2>
{% with messages = get_flashed_messages() %}
{% if messages %}
        {% for message in messages %}
          <h6>- {{ message }} -</h6>
        {% endfor %}
{% endif %}
{% endwith %}
<form method="POST" action="/register">
    <p>Username:<input type="text" name="username" required/></p>
    <p>Email Address:<input type="email" name="email" required/></p>
    <p>Enter Password:<input type="password" name="password" required/></p>
    <p>Re-Enter Password:<input type="password" name="re-enter_password" required/></p>
    <button class="button" type="submit">Register</button><br><br>
  </form>
    <button class="button button2" onclick="window.location.href='/'">Return to Main Menu</button>
{% endblock %}

