{% extends "base.html" %}
{% block content %}
    <h2><u>Search Entry</u></h2>
    <form method="POST" action="/search_entry">
        <br><label for="ingredient_name">Food Item Name:</label>
        <input type="text" name="ingredient_name" id="ingredient_name" required><br>
        
        <label for="weight_grams">Weight in Grams:</label>
        <input type="number" name="weight_grams" id="weight_grams" min="1" required>
        <label for="g">g</label><br><br><br>
        
        <button class="button" type="submit">Search Entry</button><br><br>
        <button class="button" onclick="window.location.href='/'">Return to Main Menu</button>
    </form>
{% endblock %}